{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'introduction_css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <header class="bg-gradient-to-r from-cyan-500 to-blue-500">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div class="text-2xl text-slate-100 my-2 font-bold">
                Med Assist
            </div>
            <div
                class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 text-white">
                    <li>
                        <a class="hover:text-gray-500 text-white font-bold" href="/medpred">MedPred</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 text-white font-bold" href="/medscan/">MedScan</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 text-white font-bold" href="#">Dashboard</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 text-white font-bold" href="#">GeoMapper</a>
                    </li>

                </ul>
            </div>
            <div class="flex items-center gap-6">
                <a href="/login"
                    class="button bg-blue-900 text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Login</a>
                <ion-icon onclick="onToggleMenu(this)" name="menu"
                    class="text-3xl cursor-pointer md:hidden text-black"></ion-icon>
            </div>
    </header>
    <!-- Background image -->
    <div class="bg-[url('/static/bg_img2.jpg')] bg-cover h-screen flex justify-center" id="bgimg">




        <!-- Card -->
        <div class="mt-20 w-96 sm:w-4/5 rounded-xl backdrop-blur-xl h-4/6 pt-16">
            <!-- Header -->
            <div class="text-center w-rounded-t-6xl text-7xl font-roboto text-slate-100 px-10">
                <h1 id="typewriter" class="font-bold"></h1>
                <script>
                    const words = ["Welcome to Med Assist!"];
                    let i = 0;
                    let j = 0;
                    let currentWord = "";
                    let isDeleting = false;

                    function type() {
                        currentWord = words[i];
                        document.getElementById("typewriter").textContent = currentWord.substring(0, j + 1);
                        j++;
                        setTimeout(type, 100);
                    }

                    type();
                </script>
            </div>
            <!-- Content -->
            <div class="px-10 mt-5">
                <p id="content1" class="text-5xl font-roboto text-slate-100 italic text-center mb-8">An Intelligent
                    Health Prediction and Emergency Assistance System</p>
                <p id="content2" class="text-2xl font-roboto text-slate-100">In the realm of healthcare, the integration
                    of advanced technologies has paved the way for groundbreaking innovations.
                    Our project, Med Assist, aims to revolutionize the way we approach disease diagnosis and emergency
                    response.
                    Leveraging the power of machine learning alogorithms, this project focuses on predicting both
                    high-end and low-end diseases based on presented symptoms.
                    Additionally, it incorporates a crucial feature to swiftly identify and connect individuals with the
                    closest hospital during emergencies.</p>
            </div>
        </div>
    </div>
</body>

</html>