{% extends "base_medpred.html" %}

{% load static %}

{% block title %}
MedPred | Test for diseases in the most effective way
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'medpred/Header.css' %}">
<link rel="stylesheet" href="{% static 'medScan_low_css\index-35QkwXAN.css' %}">
<link rel="stylesheet" href="{% static 'medpred/Footer.css' %}">

<body>
    <!-- Navbar -->
    {% if user.is_authenticated %}
    {% include 'Header_medpred.html' %}
    <!-- Background image -->
    <div class="bg-[url('/static/bg_img2.jpg')] bg-cover h-screen flex justify-center" id="bgimg">

        <form action="/medscan/result/" method="POST" id="myForm" class="flex justify-center">
            {%csrf_token%}
            <input type="hidden" id="symInput" name="symptoms" value="">

            <!-- Submit button -->
            <!-- <button type="button" onclick="submitForm()">Submit</button> -->
        </form>
        <div class="mt-24 w-96 sm:72 rounded-xl backdrop-blur-xl h-5/6 pt-12 mr-5">
            <div class="ml-10 text-white">
                <p class="text-5xl mb-3">Select Symptoms</p>

                <!-- <ul>
                        <li><label for="itching" class="text-xl">Itching? </label><input type="radio" name="itching" value='1'>Yes <input type="radio" name="itching" value='0'>No</li>
                        <li><label for="skin_rash" class="text-xl">Skin Rash? </label><input type="radio" name="skin_rash" value='1'>Yes <input type="radio" name="skin_rash" value='0'>No</li>
                        <li><label for="continuous_sneezing" class="text-xl">Continuous Sneezing? </label><input type="radio" name="continuous_sneezing" value='1'>Yes <input type="radio" name="continuous_sneezing" value='0'>No</li>
                        <li><label for="shivering" class="text-xl">Shivering? </label><input type="radio" name="shivering" value='1'>Yes <input type="radio" name="shivering" value='0'>No</li>
                        <li><label for="chills" class="text-xl">Chills? </label><input type="radio" name="chills" value='1'>Yes <input type="radio" name="chills" value='0'>No</li>
                        <li><label for="joint_pain" class="text-xl">Joint Pain? </label><input type="radio" name="joint_pain" value='1'>Yes <input type="radio" name="joint_pain" value='0'>No</li>
                        <li><label for="cough" class="text-xl">Cough? </label><input type="radio" name="cough" value='1'>Yes <input type="radio" name="cough" value='0'>No</li>
                        <li><label for="vomiting" class="text-xl">Vomiting? </label><input type="radio" name="vomiting" value='1'>Yes <input type="radio" name="vomiting" value='0'>No</li>
                        <li><label for="headache" class="text-xl">Headache? </label><input type="radio" name="headache" value='1'>Yes <input type="radio" name="headache" value='0'>No</li>
                        <li><label for="chest_pain" class="text-xl">Chest Pain? </label><input type="radio" name="chest_pain" value='1'>Yes <input type="radio" name="chest_pain" value='0'>No</li>
                        <li><label for="breathlessness" class="text-xl">Breathlessness? </label><input type="radio" name="breathlessness" value='1'>Yes <input type="radio" name="breathlessness" value='0'>No</li>
                        <li><label for="nausea" class="text-xl">Nausea? </label><input type="radio" name="nausea" value='1'>Yes <input type="radio" name="nausea" value='0'>No</li>
                        <li><label for="diarrhoea" class="text-xl">Diarrhoea? </label><input type="radio" name="diarrhoea" value='1'>Yes <input type="radio" name="diarrhoea" value='0'>No</li>
                        <li><label for="muscle_pain" class="text-xl">Muscle Pain? </label><input type="radio" name="muscle_pain" value='1'>Yes <input type="radio" name="muscle_pain" value='0'>No</li>
                        <li><label for="sweating" class="text-xl">Sweating? </label><input type="radio" name="sweating" value='1'>Yes <input type="radio" name="sweating" value='0'>No</li>
                    </ul> -->

                <ul id="selecting" class="flex text-2xl justify-left flex-wrap">
                    <li><button id="symp" class="">itching</button></li>
                    <li><button id="symp" class="">skin_rash</button></li>
                    <li><button id="symp" class="">continuous_sneezing</button></li>
                    <li><button id="symp" class="">shivering</button></li>
                    <li><button id="symp" class="">chills</button></li>
                    <li><button id="symp" class="">joint_pain</button></li>
                    <li><button id="symp" class="">cough</button></li>
                    <li><button id="symp" class="">vomiting</button></li>
                    <li><button id="symp" class="">headache</button></li>
                    <li><button id="symp" class="">chest_pain</button></li>
                    <li><button id="symp" class="">breathlessness</button></li>
                    <li><button id="symp" class="">nausea</button></li>
                    <li><button id="symp" class="">diarrhoea</button></li>
                    <li><button id="symp" class="">muscle_pain</button></li>
                    <li><button id="symp" class="">sweating</button></li>
                </ul>
                <button type="button" onclick="submitForm()"
                    class="text-black rounded-full bg-white text-xl font-bold mt-4 px-7 py-2 click:bg-slate-200">Submit</button>

            </div>
        </div>
        </form>
        <!-- Card -->
        <div class="mt-24 w-2/5 sm:w-2/5 rounded-xl backdrop-blur-xl h-5/6 pt-12 ml-5">
            Header
            <div class="ml-10 text-3xl text-white">
                <p class="text-5xl mb-3">Selected Symptoms</p>
                <ul id="selected" class="flex text-2xl justify-left flex-wrap">

                </ul>
            </div>
            Content
            <div class="px-10 mt-5">
            </div>
        </div>
    </div>
    <script>
        let sym = [];
        let selected = document.querySelector('#selected');
        let selecting = document.querySelector('#selecting');
        selecting.addEventListener("click", function (event) {
            let adding = document.createElement('li');
            adding.innerText = event.target.innerText;
            adding.setAttribute('id', 'symp');
            selected.appendChild(adding);
            sym.push(event.target.innerText);
            event.target.remove();
        })
        selected.addEventListener("click", function (event) {
            let adding = document.createElement('li');
            adding.innerText = event.target.innerText;
            adding.setAttribute('id', 'symp');
            for (let i = 0; i < sym.length; i++) {
                if (sym[i] == adding.innerText) sym.splice(i, 1);
            }
            selecting.appendChild(adding);
            event.target.remove();
        })
        console.log(sym)
        function submitForm() {
            // Get the 'sym' list values
            // var symList = ['symptom1', 'symptom2', 'symptom3'];  // Replace with your actual list

            // Update the hidden input with the 'sym' values
            document.getElementById('symInput').value = JSON.stringify(sym);

            // Submit the form
            document.getElementById('myForm').submit();
        }
    </script>
    {% include 'Footer_medpred.html' %}
    {%else%}
    {% include 'error_message.html' %}
    {%endif%}
</body>

{% endblock content %}
