/* CARDS AND TITLE */

#bg {
    background-image: url("/static/Photo_doctor.jpg");
    background-size: cover;
    height: 200%;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.25);
    color: #d0dded;
    text-align: center;
    height: 100%;
    padding: 0 0 2% 0;
}

.container-fluid strong {
    font-weight: 750;
}

.container-fluid .row .big-heading {
    padding: 1% 0 0.5% 0;
}

.container-fluid .row #statement {
    padding: 1% 0 0 0;
    font-size: 20px;
    color: #c9e1fc;
}

.container-fluid .card {
    margin: 10px;
}

.container-fluid .card .form-group {
    margin: 20px 0 0 0;
}

.container-fluid .card .btn {
    background-color: #1d4e80;
    color: #ffffff;
    transition: transform 0.5s;
    margin: 20px 0 0 0;
}

.container-fluid .card .btn:hover {
    transform: scale(1.1);
}

