        h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
            margin: auto auto 50px auto;
        }

        .col-form-label {
            width: 100%;
        }

        p {
            display: inline-block;
        }

        .items {
            padding-right: 5%;
        }

        .forms,
        .submit {
            padding: 4% 7% 2%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 0.9rem;
            background-color: #ACFADF;
        }

        .submit {
            text-align: center;
        }

        #colFormLabel {
            font-size: 12px;
        }

        #bg {
            background-image: url("Photo_doctor.jpg");
            background-size: cover;
            height: 100vh;
        }

        .container-fluid .row .big-heading {
            padding: 30px 20px 20px 20px;
        }

        .container-fluid .row #statement {
            padding: 0 0 15% 0;
        }

        .elements {
            display: flex;
        }

        #styled-select {

            width: 58%;
            display: flex;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin: auto 0 10px;

        }

        #styled-select select {
            font-size: 12px;
        }

        .f {
            display: inline-flex;
        }

        .advice {
            text-align: center;
            padding: 4% 7% 2%;
        }

        h2 {
            font-size: 1rem;
        }

        .drop-box {
            display: flex;
            flex-wrap: wrap;
        }

        img {
            float: right;
            width: 30%;
            padding-left: 5%;
        }

        #colFormLabel {
            width: 70%;
        }

        .doctor {
            float: left;
            padding-right: 5%;
        }

        .advice {
            text-align: center;
            padding-bottom: 15%;
        }

        @media (min-width: 988px) {
            #styled-select {
                width: 41.5%;
            }

            #colFormLabel {
                width: 50%;
            }

        }

        @media (max-width: 575px) {
            #styled-select {
                width: 70%;
            }
        }